[submodule "WebDevelopment/town-hall-JuanPortal"]
	path = WebDevelopment/town-hall-JuanPortal
	url = https://github.com/Entezari-LACCD/town-hall-JuanPortal
[submodule "WebDevelopment/shape-up-JuanPortal"]
	path = WebDevelopment/shape-up-JuanPortal
	url = https://github.com/Entezari-LACCD/shape-up-JuanPortal
